.mainCorpo{
    margin: 0;
    padding: 0;
}
.menuMouse{
    width: 150px;
    transform: scale(0.8);
    opacity: 0;
    transition: transform 0.2s ease, opacity 0.2s ease;
}
.menuMouse.visible {
    transform: scale(1);
    opacity: 1;
}
.menuMouse > li{
    color: black;
    font-size: 1.2em;
    margin: 0;
    margin-top: 5px;
    padding: 5px;
    transition: linear 200ms;
    border-radius: 5px;
}
.menuMouse > li:hover{
    cursor: pointer;
    background-color: rgb(83, 83, 83);
}